<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link id="favicon" rel="icon" href="x">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta id="themeColor" name="theme-color" content="#ffffff">
	<meta property="og:locale" content="cs_CZ" />
	<meta property="og:type" content="website" />
	<meta id="ogTitle" property="og:title" content="LEA-Bot Tabulky" />
	<meta id="ogDescription" property="og:description" content="Digitální organizace státních ozbrojených složek LEA." />
	<meta property="og:url" content="<%= VITE_DOMAIN %>">
	<meta id="ogImage" property="og:image" content="x">
	<meta property="twitter:url" content="<%= VITE_DOMAIN %>">
	<meta property="twitter:domain" content="<%= VITE_DOMAIN %>">
	<meta name="twitter:card" content="summary">
	<meta id="twitterImage" property="twitter:image" content="x">
	<meta name="author" content="Verze v6" />
</head>

<body>
	<div id="app"></div>
	<script type="module" src="main.js"></script>
</body>

</html>