<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link id="favicon" rel="icon" href="https://i.imgur.com/5PYUsdL.png">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="twitter:card" content="summary">
	<meta property="og:title" content="LEA-Bot Tabulky" />
	<meta property="og:description" content="Digitální organizace státních ozbrojených složek LEA." />
	<meta property="og:image" content="https://i.imgur.com/5PYUsdL.png">
	<meta name="theme-color" content="#ffffff">

	<meta property="og:locale" content="cs_CZ" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="<%= VITE_DOMAIN %>">
	<meta property="twitter:url" content="<%= VITE_DOMAIN %>">
	<meta property="twitter:domain" content="<%= VITE_DOMAIN %>">
</head>

<body>
	<div class="app"></div>
	<script type="module" src="main.js"></script>
</body>

</html>