@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
.app {
    height: 100%;
    margin: 0;
    padding: 0;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    animation: fadeIn 0.5s ease-in-out;
    margin: 0 30px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}

.webLogo {
    width: 75px;
}

.header a,
.header span,
.header .loginButton {
    font-size: 15px;
    font-weight: bold;
}

.header .routerMenu {
    list-style-type: none;
    display: flex;
    gap: 15px;
    flex: 1;
}

.header a {
    text-decoration: none;
    color: var(--textColor);
    border-radius: 25px;
    border: 2px solid var(--textColor);
    cursor: pointer;
    padding: 10px 15px;
    background-color: transparent;
    transition: background-color 0.5s, color 0.5s;
}

.header span.disabled {
    text-decoration: none;
    color: grey;
    border-radius: 25px;
    border: 2px solid grey;
    cursor: not-allowed;
    padding: 10px 15px;
    background-color: transparent;
    transition: background-color 0.5s, color 0.5s;
}

.routerMenu span.disabled:hover {
    background-color: transparent;
    color: grey;
}

.routerMenu a:hover {
    background-color: var(--textColor);
    color: var(--bgColor);
    box-shadow: 0 4px 20px var(--textColorShadow);
}

.header .homeLink {
    text-decoration: none;
    color: transparent;
    border-radius: none;
    border: none;
    cursor: pointer;
    padding: none;
    background-color: transparent;
}

.header .homeLink:hover {
    background-color: transparent;
    color: transparent;
}

.header .centerMenu {
    flex: 0;
    text-align: center;
}

.header .rightMenu {
    list-style-type: none;
    display: flex;
    gap: 15px;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

.rightMenu a,
.rightMenu button {
    align-items: center;
    padding: 10px 15px;
    height: 44px;
}

.loginSide {
    display: flex;
    gap: 3px;
}

.header .rightMenu a {
    color: var(--bgColor);
    background-color: var(--textColor);
}

.LSPD a:hover {
    border: 2px solid #ffc935;
    background-color: #ffc935;
    color: black;
    box-shadow: 0 4px 20px rgba(255, 201, 53, 0.6);
}

.LSSD a:hover {
    border: 2px solid #bd8131;
    background-color: #bd8131;
    color: black;
    box-shadow: 0 4px 20px rgba(189, 129, 49, 0.6);
}

.SAHP a:hover {
    border: 2px solid #294a73;
    background-color: #294a73;
    color: white;
    box-shadow: 0 4px 20px rgba(41, 74, 115, 0.6);
}

a.router-link-active {
    color: var(--bgColor);
    background-color: var(--textColor);
    box-shadow: 0 4px 20px var(--textColorShadow);
}

.LSPD a.router-link-active {
    border: 2px solid #ffc935;
    background-color: #ffc935;
    color: black;
    box-shadow: 0 4px 20px rgba(255, 201, 53, 0.6);
}

.LSSD a.router-link-active {
    border: 2px solid #bd8131;
    background-color: #bd8131;
    color: black;
    box-shadow: 0 4px 20px rgba(189, 129, 49, 0.6);
}

.SAHP a.router-link-active {
    border: 2px solid #294a73;
    background-color: #294a73;
    color: white;
    box-shadow: 0 4px 20px rgba(41, 74, 115, 0.6);
}

.rightMenu .loginButton {
    background-color: var(--textColor);
    color: var(--bgColor);
    border: 2px var(--textColor);
    border-radius: 25px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.5s;
}

.rightMenu .loginAvatar {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--textColor);
    color: var(--bgColor);
    border: 2px black;
    border-radius: 25px;
    padding: 7px 7px;
    cursor: default;
    transition: background-color 0.5s;
}

.rightMenu .loginAvatar.loggedIn {
    width: 44px;
    height: 44px;
    background-color: transparent;
    /*background-image: SCRIPT*/
    background-size: cover;
    background-position: center;
}

.rightMenu .loginButton.loggedOff:hover,
.rightMenu .loginButton.loggedOff:hover~.loginAvatar.loggedOff {
    color: black;
    background-color: #57f287;
    box-shadow: 0 4px 20px rgba(87, 242, 135, 0.6);
}

.rightMenu .loginButton.loggedIn:hover,
.rightMenu .loginButton.loggedIn:hover~.loginAvatar.loggedIn {
    color: black;
    background-color: #ed4245;
    box-shadow: 0 4px 20px rgba(237, 66, 69, 0.6);
}

.rightMenu .loginButton:hover~.loginAvatar img {
    filter: invert(1);
}

#loginAvatarImage.loggedIn {
    display: none;
}

#loginAvatarImage.darkMode {
    filter: invert(1)
}

#loginAvatarImage {
    width: 30px;
    height: 30px;
}

.content {
    display: flex;
    background: var(--contentColor);
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 20px;
    overflow: scroll;
    overflow-y: scroll;
    overflow-x: scroll;
}

.footer {
    display: flex;
    flex: 1;
    font-size: 13px;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}

.footer .left {
    flex: 1;
    justify-content: flex-start;
    display: flex;
    gap: 5px;
}

.footer .center {
    display: flex;
    flex: 1;
    text-align: center;
    justify-content: center;
}

.footer .right {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    font-weight: bold;
    gap: 5px
}

.footer .center a,
.footer .right a {
    color: var(--textColor);
    font-size: 14px;
    font-weight: bold;
}

.footer .center a:hover,
.footer .right a:hover {
    background-color: var(--textColor);
    border-radius: 5px;
    color: var(--bgColor);
}

.footer .center a:visited,
.footer .right a:visited {
    color: var(--textColor);
}

.footer .center a:visited:hover,
.footer .right a:visited:hover {
    background-color: var(--textColor);
    color: var(--bgColor);
}

.footer .left button {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--textColor);
    color: var(--bgColor);
    border: 2px var(--textColor);
    border-radius: 25px;
    padding: 7px 7px;
    cursor: default;
    transition: background-color 0.5s;
}

.footer .left button a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    text-decoration: none;
}

.footer .left button:hover {
    cursor: pointer;
    background-color: var(--contentColor);
    box-shadow: 0 4px 20px var(--contentColorShadow);
}

.footer .left button img {
    filter: invert(1);
}

.footer .left button:hover img {
    filter: invert(0);
}

.footer .left button img.darkMode {
    filter: invert(0);
}

.footer .left button:hover img.darkMode {
    filter: invert(1);
}